/* 1 */
#container1.highlight{
    background-color: yellow;
}
/* 2 */
#container2 p{
    color: red;
}
#container2 pre>p{
    color: pink;
}
/* 3 */
#container3 > input:not([type=submit]){
    border: 1px solid blue;
}
/* 4 */
#container4 > h1,.title{
    color: green;
    font-size: 20px;
}
/* 5 */
div[class^=user]{
    background-color: lightgray;
}
div[class$=info]{
   color: red;
}
div[class=product]{
    background-color: coral;
}
div[class|=admin]{
    background-color: greenyellow;
}

/* 6 */
#container6 > input:active{
    background-color: yellow;
}
#container6 > input:hover{
    background-color: green;
}

/* 7 */
#container7 > li:nth-of-type(2){
    font-weight: bold;
}

/* 8 */
.container8 > p:last-of-type{
    color: blue;
}

/* 9 */
#container9 > p[title^=important]{
    background-color: red;
}
/* 10 */
#menu >.active {
    color: red;
}